#chart {
    margin-top: 50px;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
}

.entry {
    font-size: 14px;
    font-weight: normal;
    color: #333;
}